<!-- Trigger -->
<a href="mobile-friendly-page.html" data-modal data-mfp-src="#{{ modal.id }}">Show inline popup</a>

<!-- Dialog -->
{% include '@components/00-lib/atomic-modal/atomic-modal.dialog.twig' %}
