<!-- Trigger -->
<a href="mobile-friendly-page.html" data-modal data-mfp-src="#test-popup">Show inline popup</a>

<!-- Popup -->
<div id="test-popup" class="white-popup mfp-hide">
  Popup content
</div>
